services:
  - type: web
    name: youtube-server
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DEBUG
        value: False
      - key: AUTH
        value: False
      - key: USE_TOR
        value: True
      - key: TOR_PROXY_HOST
        value: 127.0.0.1
      - key: TOR_PROXY_PORT
        value: 9050
      - key: TOR_CONTROL_PORT
        value: 9051
      - key: PORT
        value: 8080
